.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 8px 0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(234, 46, 73, 0.5);
  width: 100%;
  transition: all .2s;
  opacity: 1;
  animation: fadeInFromNone 0.2s ease-out;
}

.completed {
  box-shadow: 0px 1px 1px rgba(62, 255, 80, 0.5);
}

.todo-title {
  width: 100%;
  color: rgba(0, 0, 0, 0.7)
}

.todo-buttons {
  display: flex;
}

.todo-btn {
  display: block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  float: left;
  background: none;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.toggle-todo {
  border-radius: 50%;
  border: 1px solid #26B999;
  background-image: url(../../svg/done.svg);
}

.btn-done,
.toggle-todo:hover {
  background-color: #26B999;
  background-image: url(../../svg/done_hover.svg);
}

.close-todo {background-image: url(../../svg/delete.svg);}

.close-todo:hover {background-image: url(../../svg/delete_hover.svg);}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
